olca-ecospold-1/schemas/EcoSpold01ElementaryDataset.xsd

<?xml version="1.0"?>
<!--
The contents of this file are subject to the EcoSpold Public License Version 1.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.ecoinvent.ch.
Software distributed under the License is distributed on an "AS IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for the specific language governing rights and limitations under the License.
The Original Code consists of the EcoSpold data format and EcoSpold Access.
The Original Code was created by the ecoinvent Centre, Switzerland (Swiss Centre for Life Cycle Inventories) and ifu Hamburg GmbH, Germany. Portions created by the ecoinvent Centre and ifu Hamburg GmbH are Copyright (C) ecoinvent Centre. All Rights Reserved.
-->
<xsd:schema targetNamespace="http://www.EcoInvent.org/EcoSpold01Elementary" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:es="http://www.EcoInvent.org/EcoSpold01Elementary" xmlns="http://www.EcoInvent.org/EcoSpold01Elementary" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:appinfo>
			<internalSchemaVersion>1.0</internalSchemaVersion>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:include schemaLocation="EcoSpold01DataTypes.xsd"></xsd:include>
	<xsd:redefine schemaLocation="EcoSpold01MetaInformation.xsd">
		<xsd:complexType name="TDataEntryBy">
			<xsd:annotation>
				<xsd:documentation>Contains information about the person and the quality network the person belongs to.</xsd:documentation>
			</xsd:annotation>
			<xsd:complexContent>
				<xsd:restriction base="TDataEntryBy">
					<xsd:attribute name="person" use="prohibited"></xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:redefine>
	<xsd:include schemaLocation="EcoSpold01FlowData.xsd"></xsd:include>
	<xsd:complexType name="TProcessInformation">
		<xsd:annotation>
			<xsd:documentation>Contains content-related metainformation for the elementary flow.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="referenceFunction" type="TReferenceFunction">
				<xsd:annotation>
					<xsd:documentation>Contains information which identifies and characterises one particular dataset (=elementary flow).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="geography" type="TGeography" minOccurs="0" maxOccurs="0"></xsd:element>
			<xsd:element name="technology" type="TTechnology" minOccurs="0" maxOccurs="0"></xsd:element>
			<xsd:element name="timePeriod" type="TTimePeriod" minOccurs="0" maxOccurs="0"></xsd:element>
			<xsd:element name="dataSetInformation" type="TDataSetInformation">
				<xsd:annotation>
					<xsd:documentation>Contains administrative information about the dataset (version number, language and localLanguage used).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xsd:any>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TModellingAndValidation">
		<xsd:annotation>
			<xsd:documentation>Not applicable for elementary flows.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="representativeness" type="TRepresentativeness" minOccurs="0" maxOccurs="0"></xsd:element>
			<xsd:element name="source" type="TSource" minOccurs="0" maxOccurs="0"></xsd:element>
			<xsd:element name="validation" type="TValidation" minOccurs="0" maxOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contains information about the reviewers' comments on the dataset content.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--
			<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
-->
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TAdministrativeInformation">
		<xsd:annotation>
			<xsd:documentation>Contains information about the person that compiled and entered the dataset in the database.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="dataEntryBy" type="TDataEntryBy" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contains information about the person and the quality network the person belongs to.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dataGeneratorAndPublication" type="TDataGeneratorAndPublication" minOccurs="0" maxOccurs="0"></xsd:element>
			<xsd:element name="person" type="TPerson" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>contains a list of persons with their addresses.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--
 			<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
-->
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TMetaInformation">
		<xsd:annotation>
			<xsd:documentation>Contains information about the elementary flow (its name, unit, classification, etc.) and about dataset administration (version number, kind of dataset, language).</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="processInformation" type="TProcessInformation">
				<xsd:annotation>
					<xsd:documentation>Contains content-related metainformation for the elementary flow.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="modellingAndValidation" type="TModellingAndValidation">
				<xsd:annotation>
					<xsd:documentation>Contains metaInformation about the validation of elementary flow datasets.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="administrativeInformation" type="TAdministrativeInformation">
				<xsd:annotation>
					<xsd:documentation>Contains information about the person that compiled and entered the elementary flow dataset in the database and about kind of publication and the accessibility of the dataset.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xsd:any>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TDataset">
		<xsd:annotation>
			<xsd:documentation>Contains information about one individual elementary flow (pollutant emission or resource extraction). It is described by metaInformation only.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="metaInformation" type="es:TMetaInformation">
				<xsd:annotation>
					<xsd:documentation>Contains information about the elementary flow (its name, unit, classification, etc.), about validation details and about dataset administration (version number, kind of dataset, language).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="flowData" type="xsd:string" minOccurs="0" maxOccurs="0"></xsd:element>
			<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xsd:any>
		</xsd:sequence>
		<xsd:attribute name="number" type="es:TIndexNumber" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>200</spoldID>
					<type>Number</type>
					<size>10</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="internalSchemaVersion" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID></spoldID>
					<type>Number</type>
					<size></size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="generator" type="es:TString255" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID></spoldID>
					<type>String</type>
					<size>255</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="timestamp" type="xsd:dateTime" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID></spoldID>
					<type>XML DateTime</type>
					<size>19</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="validCompanyCodes" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID></spoldID>
					<type>String</type>
					<size></size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="validRegionalCodes" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID></spoldID>
					<type>String</type>
					<size></size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="validCategories" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID></spoldID>
					<type>String</type>
					<size></size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="validUnits" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID></spoldID>
					<type>String</type>
					<size></size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="TEcoSpold">
		<xsd:annotation>
			<xsd:documentation>The data (exchange) format of the ECOINVENT quality network.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="dataset" type="TDataset" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>A dataset describes LCI related information of an elementary flow comprising metaInformation (description of the elementary flow).</xsd:documentation>
				</xsd:annotation>
				<xsd:unique name="pkPersonNumber">
					<xsd:selector xpath="es:metaInformation/es:administrativeInformation/es:person"></xsd:selector>
					<xsd:field xpath="@number"></xsd:field>
				</xsd:unique>
				<xsd:keyref name="fkDataEntryByPerson" refer="es:pkPersonNumber">
					<xsd:selector xpath="es:metaInformation/es:administrativeInformation/es:dataEntryBy"></xsd:selector>
					<xsd:field xpath="@person"></xsd:field>
				</xsd:keyref>
			</xsd:element>
			<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xsd:any>
		</xsd:sequence>
		<xsd:attribute name="validationId" type="xsd:integer" use="optional"></xsd:attribute>
		<xsd:attribute name="validationStatus" type="xsd:string" use="optional"></xsd:attribute>
	</xsd:complexType>
	<xsd:element name="ecoSpold" type="TEcoSpold">
		<xsd:annotation>
			<xsd:documentation>The data (exchange) format of the ECOINVENT quality network.</xsd:documentation>
		</xsd:annotation>
		<xsd:unique name="pkTIndexNumber">
			<xsd:selector xpath="es:dataset"></xsd:selector>
			<xsd:field xpath="@number"></xsd:field>
		</xsd:unique>
	</xsd:element>
</xsd:schema>
