olca-ecospold-1/schemas/EcoSpold01FlowData.xsd

<?xml version="1.0"?>
<!--
The contents of this file are subject to the EcoSpold Public License Version 1.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.ecoinvent.ch.
Software distributed under the License is distributed on an "AS IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for the specific language governing rights and limitations under the License.
The Original Code consists of the EcoSpold data format and EcoSpold Access.
The Original Code was created by the ecoinvent Centre, Switzerland (Swiss Centre for Life Cycle Inventories) and ifu Hamburg GmbH, Germany. Portions created by the ecoinvent Centre and ifu Hamburg GmbH are Copyright (C) ecoinvent Centre. All Rights Reserved.
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="EcoSpold01DataTypes.xsd"></xsd:include>
	<xsd:complexType name="TExchange">
		<xsd:annotation>
			<xsd:documentation>Comprises all inputs and outputs (both elementary flows and intermediate product flows) recorded in a unit process and its related information.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice minOccurs="0">
			<xsd:element name="inputGroup">
				<xsd:annotation>
					<xsd:documentation>Indicates the kind of input flow. 
The codes are: 1=Materials/Fuels, 2=Electricity/Heat, 3=Services, 4=FromNature, 5=FromTechnosphere.</xsd:documentation>
					<xsd:appinfo>
						<spoldID>3503</spoldID>
						<type>Number</type>
						<size>1</size>
						<options>1=Materials/Fuels, 2=Electricity/Heat, 3=Services, 4=FromNature, 5=FromTechnosphere</options>
						<multipleOccurences>Yes</multipleOccurences>
						<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
					</xsd:appinfo>
					<xsd:documentation>Within the ecoinvent quality network, only 4 and 5 are actively used (any material, fuel, electricity, heat or service is classified as an input from technosphere).</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="1"></xsd:minInclusive>
						<xsd:maxInclusive value="5"></xsd:maxInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="outputGroup">
				<xsd:annotation>
					<xsd:documentation>Indicates the kind of output flow. 
The codes are: 0=ReferenceProduct, 1=Include avoided product system, 2=Allocated by product, 3=WasteToTreatment, 4=ToNature.</xsd:documentation>
					<xsd:appinfo>
						<spoldID>3504</spoldID>
						<type>Number</type>
						<size>1</size>
						<options>0=ReferenceProduct, 1=Include avoided product system, 2=Allocated by product, 3=WasteToTreatment, 4=ToNature</options>
						<multipleOccurences>Yes</multipleOccurences>
						<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
					</xsd:appinfo>
					<xsd:documentation>The options 0, 2, and 4 are actively used in the ecoinvent quality network. </xsd:documentation>
					<xsd:documentation>Products of multioutput processes are classified as allocated by-products (2).</xsd:documentation>
					<xsd:documentation>Avoided product systems are modelled with a negative input from technosphere. WasteToTreatment are modelled like services (hence inputFromTechnosphere). Therefore codes '1' and '3' are not required.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="0"></xsd:minInclusive>
						<xsd:maxInclusive value="4"></xsd:maxInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:choice>
		<xsd:attribute name="number" type="TIndexNumber" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>3793</spoldID>
					<type>Number (Integer)</type>
					<size>10</size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>ID number used as an identifier of a particular exchange in a dataset.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="category" type="TCategoryName" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>3506</spoldID>
					<type>Text</type>
					<size>40</size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>Yes, if 3503=4 and/or 3504=4</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Describes the category one particular exchange belongs to (in English language). Category and subCategory are required for elementary flows because they have a discriminative function.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="subCategory" type="TCategoryName" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>3507</spoldID>
					<type>Text</type>
					<size>40</size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>Yes, if 3503=4 and/or3504=4 </valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Describes the subCategory one particular exchange belongs to (in English language). Category and subCategory are required for elementary flows because they have a discriminative function.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="localCategory" type="TCategoryName" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>3509</spoldID>
					<type>Text</type>
					<size>40</size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Describes the category one particular exchange belongs to (in German local language).See further explanations in 'category'.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="localSubCategory" type="TCategoryName" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>3510</spoldID>
					<type>Text</type>
					<size>40</size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Describes the subCategory one particular exchange belongs to (in German local language).See further explanations in 'subCategory'.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="CASNumber" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>3701</spoldID>
					<type>String</type>
					<size>11</size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Indicates the number according to the Chemical Abstract Service (CAS). The Format of the CAS-number: 000000-00-0, where the first string of digits needs not to be complete (i.e. less than six digits are admitted).</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:length value="11"></xsd:length>
					<xsd:pattern value="\d{6,6}-\d{2,2}-\d"></xsd:pattern>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="name" type="TString80" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>3702</spoldID>
					<type>Text</type>
					<size>80</size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Name of the exchange (elementary flow or intermediate product flow) in English language. See 'name' in 'metaInformation/referenceFunction' for more explanations.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="location" type="TRegionalCode" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>3703</spoldID>
					<type>Text</type>
					<size>7</size>
					<options>reference to 662</options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>Yes, if 3503!=4 and/or 3504!=4</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Market area information for the intermediate product/service flow. Location is defined by a 7 letter code written with capital letters. See 'metaInformation/referenceFunction' for more explanations.</xsd:documentation>
				<xsd:documentation>Information about the geographic area for which an impact assessment method is valid.</xsd:documentation>
				<xsd:documentation>Not applicable for elementary flows.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="unit" type="TUnit" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>3706</spoldID>
					<type>Text</type>
					<size>20</size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Unit of the exchange (elementary flow or intermediate product flow). See 'metaInformation/referenceFunction' for more explanations.</xsd:documentation>
				<xsd:documentation>Unit of the elementary flow for which a characterisation, damage or weighting factor is determined.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="meanValue" type="TFloatNumber" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>3707</spoldID>
					<type>Number (Single)</type>
					<size>s.n</size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Mean amount of elementary flow or intermediate product flow. </xsd:documentation>
				<xsd:documentation>In case of triangular uncertainty distribution, the meanValue shall be calculated from the mostLikelyValue. The field mostLikelyValue (#3797) shall not be used in the ecoinvent quality network.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="uncertaintyType" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>3708</spoldID>
					<type>Integer</type>
					<size>1</size>
					<options>0=undefined, 1=lognormal (default), 2=normal, 3=triang, 4=uniform</options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Defines the kind of uncertainty distribution applied on one particular exchange. Lognormal distribution is default, normal, triangular or uniform distribution may be chosen if appropriate.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:integer">
					<xsd:minInclusive value="0"></xsd:minInclusive>
					<xsd:maxInclusive value="4"></xsd:maxInclusive>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="standardDeviation95" type="TFloatNumber" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>3709</spoldID>
					<type>Number</type>
					<size></size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Defines the 2.5% and the 97.5% value for the uncertainty range with normal and lognormal distribution.</xsd:documentation>
				<xsd:documentation>For lognormal distribution the square of the geometric standard deviation (SDg^2) is entered. SDg^2 is dimensionless. MeanValue times SDg^2 equals the 97.5% value (=maxValue), meanvalue divided by SDg^2 equals the 2.5% value (=minValue). </xsd:documentation>
				<xsd:documentation>For normal distribution the double standard deviation (2*SD) is entered. 2*SD is given in the same unit like the meanValue. MeanValue plus 2*SD equals 97.5% value (=maxValue), meanValue minus 2*SD equals 2.5% value (=minValue).</xsd:documentation>
				<xsd:documentation>This data field remains empty when uniform or triangular uncertainty distribution is applied (uncertaintyType = 3 and 4, respectively).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="formula" type="TString40" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>3711</spoldID>
					<type>Text</type>
					<size>40</size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Chemical formula (e.g. sum formula) may be entered. No graphs are allowed to represent chemical formulas.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="referenceToSource" type="TIndexNumber" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>3715</spoldID>
					<type>Number</type>
					<size>3</size>
					<options>Reference to 801</options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>An ID used in the area 'sources' of the respective dataset is required. It indicates the publication (of the ecoinvent quality network) where the unit process raw data at issue and the characterisation, damage or weighting factors of an impact category, respectively, are documented.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="pageNumbers" type="TString30" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>3716</spoldID>
					<type>Text</type>
					<size>30</size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>The page numbers of the publication (of the ecoinvent quality network) where the exchanges of the unit process at issue are documented.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="generalComment" type="TString32000" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>3792</spoldID>
					<type>Text</type>
					<size>32000</size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>A general comment can be made about each individual exchange (or characterisation, damage or weighting factor) of a particular unit process and impact category, respectively.</xsd:documentation>
				<xsd:documentation>It contains the string of code numbers of the ecoinvent uncertainty assessment (if pedigree matrix is applied) as well as further comments about the uncertainty assessment.</xsd:documentation>
				<xsd:documentation>The string of numbers of the uncertainty assessment describes (reliability, completeness, temporal correlation, geographical correlation, further technical correlation, sample size) and uses a score from 1 to 5. See methodology report for further information.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="localName" type="TString80" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>3794</spoldID>
					<type>Text</type>
					<size>80</size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Name of the exchange (or characterisation, damage or weighting factor) of a particular unit process and impact category, respectively (in German local language).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="infrastructureProcess" type="xsd:boolean" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>3508</spoldID>
					<type>Yes/No</type>
					<size>1</size>
					<options></options>
					<multipleOccurences></multipleOccurences>
					<valueRequiredInEcoInvent>Yes, if 3503=5</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Describes whether the intermediate product flow from or to the unit process is an infrastructure process or not.</xsd:documentation>
				<xsd:documentation>Not applicable to elementary flows.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="minValue" type="TFloatNumber" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>3795</spoldID>
					<type>Number (Single)</type>
					<size>s.n.</size>
					<options>If UncertaintyType=triangular/ uniform</options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Contains the minimum value for exchange data with a uniform or triangular distribution.</xsd:documentation>
				<xsd:documentation>In case of LCI results imported into the ecoinvent database, the 2.5% value is reported in this field.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="maxValue" type="TFloatNumber" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>3796</spoldID>
					<type>Number (Single)</type>
					<size>s.n.</size>
					<options>If UncertaintyType=triangular/ uniform</options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Contains the maximum value for exchange data with a uniform or triangular distribution.</xsd:documentation>
				<xsd:documentation>In case of LCI results imported into the ecoinvent database, the 97.5% value is reported in this field.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="mostLikelyValue" type="TFloatNumber" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>3797</spoldID>
					<type>Number (Single)</type>
					<size>s.n.</size>
					<options>If UncertaintyType=triangular</options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>In some cases the MostLikelyValue is available for exhange data with triangular distribution. However, do not use this field, but calculate the mean value, (minValue + mostLikelyValue +maxValue)/3, and enter it into the field "meanValue").</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="TAllocation">
		<xsd:annotation>
			<xsd:documentation>Contains all information about allocation procedure, allocation parameters and allocation factors applied on a multi-output process.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="referenceToInputOutput" type="TIndexNumber">
				<xsd:annotation>
					<xsd:documentation>The data field is only required, if the reference function describes a multioutput process.</xsd:documentation>
					<xsd:documentation>Lists the relation(s) to which a certain allocation factor is applied.</xsd:documentation>
					<xsd:appinfo>
						<spoldID>2492</spoldID>
						<type>Number</type>
						<size>10</size>
						<options>Reference to internal TIndexNumber</options>
						<multipleOccurences>Yes, multiple per Allocation</multipleOccurences>
						<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
					</xsd:appinfo>
					<xsd:documentation>MultipleOccurrence=Yes on two levels: Firstly, the reference occurs per co-product and secondly, the reference occurs per input and output flows which are allocated to the co-products.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="referenceToCoProduct" type="TIndexNumber" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>2401</spoldID>
					<type>Number</type>
					<size>10</size>
					<options>Reference to  internal TIndexNumber</options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Indicates the co-product output for which a particular allocation factor is valid. Additional information is required about the exchange on which the allocation factor is applied (see 'referenceToInputOutput').</xsd:documentation>
				<xsd:documentation>MultipleOccurences=Yes is only valid, if referenceFunction describes a multioutput process.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="allocationMethod" default="-1">
			<xsd:annotation>
				<xsd:documentation>Indicates the kind of allocation parameter chosen. 
The codes are: -1=Undefined (default). 0=Physical causality. 1=Economic causality. 2=Other method. 
'Other method' comprises in particular physical parameters (like mass, energy, exergy, etc.) and parameters other than economic.</xsd:documentation>
				<xsd:documentation>MultipleOccurences=Yes only valid, if referenceFunction describes a multioutput process.</xsd:documentation>
				<xsd:appinfo>
					<spoldID>2403</spoldID>
					<type>Number (Byte)</type>
					<size>2</size>
					<options>-1=Undefined (default)0=Physical causality1=Economic causality2=Other method</options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:integer">
					<xsd:minInclusive value="-1"></xsd:minInclusive>
					<xsd:maxInclusive value="2"></xsd:maxInclusive>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="fraction" type="xsd:float" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>2404</spoldID>
					<type>Number (Decimal)</type>
					<size></size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Allocation factor, expressed as a fraction (in %), applied on one particular exchange for one particular co-product. The sum of the allocation factors applied on one particular exchange must add up to 100%.</xsd:documentation>
				<xsd:documentation>MultipleOccurences=Yes only valid, if referenceFunction describes a multioutput process.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="explanations" type="TString32000" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>2407</spoldID>
					<type>Text</type>
					<size>32000</size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Contains further information about the allocation procedure and the allocation parameter chosen. An eventual coincidence in allocation factors when comparing different allocation parameters (like physical and economic ones) may be reported here as well.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>
