olca-ecospold-1/schemas/EcoSpold01MetaInformation.xsd

<?xml version="1.0"?>
<!--
The contents of this file are subject to the EcoSpold Public License Version 1.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.ecoinvent.ch.
Software distributed under the License is distributed on an "AS IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for the specific language governing rights and limitations under the License.
The Original Code consists of the EcoSpold data format and EcoSpold Access.
The Original Code was created by the ecoinvent Centre, Switzerland (Swiss Centre for Life Cycle Inventories) and ifu Hamburg GmbH, Germany. Portions created by the ecoinvent Centre and ifu Hamburg GmbH are Copyright (C) ecoinvent Centre. All Rights Reserved.
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="EcoSpold01DataTypes.xsd"></xsd:include>
	<xsd:complexType name="TDataSetInformation">
		<xsd:annotation>
			<xsd:documentation>Contains the administrative information about the dataset at issue: type of dataset (unit process, elementary flow, impact category, multi-output process) timestamp, version and internalVersion number as well as language and localLanguage code.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="type" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>201</spoldID>
					<type>Number (Integer)</type>
					<size>1</size>
					<options>0=System non-terminated;1=Unit process;2=System terminated;3=Elementary Flow;4=Impact Category;5=Multioutput process</options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Indicates the kind of data that is represented by this dataset.
The code is: 0=System non-terminated. 1=Unit process. 2=System terminated. 3=Elementary flow. 4=Impact category.5=Multioutput process.</xsd:documentation>
				<xsd:documentation>'Unit process' contains the description of processes and their direct (in situ) elementary flows (emissions and resource consumption) and intermediate product flows (demand for energy carriers, waste treatment and transport services, working materials, etc.), so-called unit process raw data. Data that arrives at the ecoinvent database in the form of life cycle inventory results are nevertheless classified as unit process.</xsd:documentation>
				<xsd:documentation>'System non-terminated' is not used in the ecoinvent quality network.</xsd:documentation>
				<xsd:documentation>'System terminated' contains the cumulative elementary flows (i.e. the life cycle inventory result) of a unit process. This code is only used for datasets calculated within the ecoinvent database (LCI results).</xsd:documentation>
				<xsd:documentation>'Elementary flow' contains the definition of pollutants and of resources.</xsd:documentation>
				<xsd:documentation>'Impact category' contains the definition of the characterisation, damage or weighting factors of life cycle impact assessment methods.</xsd:documentation>
				<xsd:documentation>'Multioutput process' is a special kind of unit process, which delivers more than one product/service output.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:integer">
					<xsd:minInclusive value="0"></xsd:minInclusive>
					<xsd:maxInclusive value="5"></xsd:maxInclusive>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="impactAssessmentResult" type="xsd:boolean" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>208</spoldID>
					<type>Boolean</type>
					<size>1</size>
					<options>Yes/No</options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Indicates whether or not (yes/no) the dataset contains the results of an impact assessment applied on unit processes (unit process raw data) or terminated systems (LCI results).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="timestamp" type="xsd:dateTime" use="required">
			<xsd:annotation>
				<xsd:documentation>Automatically generated date when dataset is created.</xsd:documentation>
				<xsd:appinfo>
					<spoldID>204</spoldID>
					<type>DateTime</type>
					<size>16</size>
					<options>Time of last editing of dataset</options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="version" use="required">
			<xsd:annotation>
				<xsd:documentation>The ecoinvent version number is used as follows: with a major update (e.g. every second year) the version number is increased by one (1.00, 2.00, etc.). The digits after the decimal point (e.g., 1.01, 1.02, etc.) are used for minor updates (corrected errors) within the period of two major updates. The version number is placed manually.</xsd:documentation>
				<xsd:appinfo>
					<spoldID>202</spoldID>
					<type>Number (Decimal)</type>
					<size>2.2</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:float">
					<xsd:pattern value="\d{1,2} ?\.?\d{0,2}"></xsd:pattern>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="internalVersion" use="required">
			<xsd:annotation>
				<xsd:documentation>The internalVersion number is used to discern different versions during the working period until the dataset is entered into the database). The internalVersion is generated automatically with each change made in the dataset or related file.</xsd:documentation>
				<xsd:appinfo>
					<spoldID>207</spoldID>
					<type>Number (Decimal)</type>
					<size>2.2</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:float">
					<xsd:pattern value="\d{1,2}\.\d{1,2}"></xsd:pattern>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="energyValues" use="required">
			<xsd:annotation>
				<xsd:documentation>Indicates the way energy values are used and applied in the dataset. The codes are: 0=Undefined. 1=Net values. 2=Gross values.</xsd:documentation>
				<xsd:appinfo>
					<spoldID>203</spoldID>
					<type>Number (Byte)</type>
					<size>1</size>
					<options>0=Undefined1=Net values2=Gross values</options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>This data field is by default set to 0 and not actively used in ecoinvent quality network.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:integer">
					<xsd:minInclusive value="0"></xsd:minInclusive>
					<xsd:maxInclusive value="2"></xsd:maxInclusive>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="languageCode" type="TISOLanguageCode" default="en">
			<xsd:annotation>
				<xsd:documentation>2 letter ISO language codes are used. Default language is English. Lower case letters are used.</xsd:documentation>
				<xsd:appinfo>
					<spoldID>205</spoldID>
					<type>Text</type>
					<size>2</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="localLanguageCode" type="TISOLanguageCode" default="de">
			<xsd:annotation>
				<xsd:documentation>2 letter ISO language codes are used. Default localLanguage is German. Lower case letters are used.</xsd:documentation>
				<xsd:appinfo>
					<spoldID>206</spoldID>
					<type>Text</type>
					<size>2</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="TDataEntryBy">
		<xsd:annotation>
			<xsd:documentation>Contains information about the person that entered data in the database or transformed data into the format of the ecoinvent (or any other) quality network.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="person" type="TIndexNumber" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>302</spoldID>
					<type>Number (Integer)</type>
					<size>2</size>
					<options>Entry must be identical to an existing entry in field 5800</options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>ID number for the person that prepared the dataset and enters the dataset into the database. It must correspond to an ID number of a person listed in the respective dataset.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="qualityNetwork" type="xsd:integer">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>304</spoldID>
					<type>Integer</type>
					<size>1</size>
					<options>1=ecoinvent</options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Indicates a project team that works on the database. The information is used, e.g., for restricting the accessibility of dataset information to one particular quality network. The code used is: 1=ecoinvent</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="TTimePeriod">
		<xsd:annotation>
			<xsd:documentation>Contains all possible date-formats applicable to describe start and end date of the time period for which the dataset is valid.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="startYear" type="xsd:gYear">
					<xsd:annotation>
						<xsd:documentation>Start date of the time period for which the dataset is valid, entered as year only.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="startYearMonth" type="xsd:gYearMonth">
					<xsd:annotation>
						<xsd:documentation>Start date of the time period for which the dataset is valid, entered as year and month.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="startDate" type="xsd:date">
					<xsd:annotation>
						<xsd:appinfo>
							<spoldID>601</spoldID>
							<type>Date</type>
							<size>10</size>
							<options></options>
							<multipleOccurences>No</multipleOccurences>
							<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
						</xsd:appinfo>
						<xsd:documentation>Start date of the time period for which the dataset is valid, presented as a complete date (year-month-day).</xsd:documentation>
						<xsd:documentation>StartDate may as well be entered as year (0000) or year-month (0000-00) only. 2000 and 2000-01 means: from 01.01.2000.</xsd:documentation>
						<xsd:documentation>If it is only known that data is older than a certain data, 'startDate' is left blank.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:choice>
				<xsd:element name="endYear" type="xsd:gYear">
					<xsd:annotation>
						<xsd:documentation>End date of the time period for which the dataset is valid, entered as year only.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="endYearMonth" type="xsd:gYearMonth">
					<xsd:annotation>
						<xsd:documentation>End date of the time period for which the dataset is valid, entered as year and month.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="endDate" type="xsd:date">
					<xsd:annotation>
						<xsd:appinfo>
							<spoldID>602</spoldID>
							<type>Date</type>
							<size>10</size>
							<options></options>
							<multipleOccurences>No</multipleOccurences>
							<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
						</xsd:appinfo>
						<xsd:documentation>End date of the time period for which the dataset is valid, presented as a complete date (year-month-day).</xsd:documentation>
						<xsd:documentation>EndDate may as well be entered as year (0000) or year-month (0000-00) only. 2000 and 2000-12 means: until 31.12.2000.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="dataValidForEntirePeriod" type="xsd:boolean" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>603</spoldID>
					<type>Yes/No</type>
					<size>1</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Indicates whether or not the process data (elementary and intermediate product flows reported under flow data) are valid for the entire time period stated. If not, explanations may be given under 'text'.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="text" type="TString32000" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>611</spoldID>
					<type>Text</type>
					<size>32000</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Additional explanations concerning the temporal validity of the flow data reported. It may comprise information about:</xsd:documentation>
				<xsd:documentation>- how strong the temporal correlation is for the unit process at issue (e.g., are four year old data still adequate for the process operated today?),</xsd:documentation>
				<xsd:documentation>- why data is not valid for the entire period,</xsd:documentation>
				<xsd:documentation>- for which smaller periods data are valid,</xsd:documentation>
				<xsd:documentation>- whether for certain elementary and intermediate product flows a different time period is valid.</xsd:documentation>
				<xsd:documentation>The fact that data are based on forecasts should be reported under 'representativeness'.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="TGeography">
		<xsd:annotation>
			<xsd:documentation>Contains information about the geographic validity of the process. The region described with regional code and free text is the market area of the product / service at issue and not necessarily the place of production.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="location" type="TRegionalCode" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>662</spoldID>
					<type>Text</type>
					<size>7</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>7 letter regional code (capital letters). List of 2 letter ISO country codes extended by codes for regions, continents, market areas, and organisations and companies. The location code indicates the supply area of a product/service and the area of validity of impact assessment methods and impact categories, respectively. It does NOT necessarily coincide with the area/site of production or provenience. If supply and production area differ, production area is indicated in the name of the unit process.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="text" type="TString32000" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>663</spoldID>
					<type>Text</type>
					<size>32000</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Free text for further explanation. Text comprises additional aspects of the location, namely whether:</xsd:documentation>
				<xsd:documentation>- certain areas are exempted from the location indicated,</xsd:documentation>
				<xsd:documentation>- data are only valid for certain regions within the location indicated.</xsd:documentation>
				<xsd:documentation>- certain elementary flows or intermediate product flows are extrapolated from another geographical area than indicated.</xsd:documentation>
				<xsd:documentation>Extrapolations should be reported under 'representativeness'.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="TTechnology">
		<xsd:annotation>
			<xsd:documentation>Contains a description of the technology for which flow data have been collected. Free text can be used. Pictures, graphs and tables are not allowed. The text should cover information necessary to identify the properties and particularities of the technology(ies) underlying the process data.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="text" type="TString32000" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>692</spoldID>
					<type>Text</type>
					<size>32000</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Describes the technological properties of the unit process. If the process comprises several subprocesses, the corresponding technologies should be reported as well. Professional nomenclature should be used for the description. </xsd:documentation>
				<xsd:documentation>The description helps the user to judge the technical suitability of the process dataset for his or her application (purpose).</xsd:documentation>
				<xsd:documentation>No graphs, figures or tables are allowed in this text field.</xsd:documentation>
				<xsd:documentation>It should be stated if data for certain elementary flows or intermediate product flows are derived from different technology.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="TRepresentativeness">
		<xsd:annotation>
			<xsd:documentation>Contains information about the fraction of the relevant market supplied by the product/service described in the dataset. Information about market share, production volume (in the ecoinvent quality network: also consumption volume in the market area) and information about how data have been sampled.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="percent" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>722</spoldID>
					<type>Number(Decimal)</type>
					<size>3.1</size>
					<options>Maximum 100</options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Indicates the share in market supply in the geographical area indicated of the product/service at issue.</xsd:documentation>
				<xsd:documentation>If data representative for a process operated in one country is used for another country's process, the entry should be '0'. The representativity for the original country is reported under 'extrapolations'.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="TPercent">
					<xsd:maxInclusive value="100.0"></xsd:maxInclusive>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="productionVolume" type="TString80" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>724</spoldID>
					<type>Text</type>
					<size>80</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Indicates the market area consumption volume (NOT necessarily identical with the production volume) in the geographical area indicated of the product/service at issue. </xsd:documentation>
				<xsd:documentation>The market volume should be given in absolute terms per year and in common units. It is related to the time period specified elsewhere. </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="samplingProcedure" type="TString32000" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>725</spoldID>
					<type>Text</type>
					<size>32000</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Indicates the sampling procedure applied for quantifying the exchanges. It should be reported whether the sampling procedure for particular elementary and intermediate product flows differ from the general procedure. Possible problems in combining different sampling procedures should be mentioned.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="extrapolations" type="TString32000" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>726</spoldID>
					<type>Text</type>
					<size>32000</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Describes extrapolations of data from another time period, another geographical area or another technology and the way these extrapolations have been carried out.</xsd:documentation>
				<xsd:documentation>It should be reported whether different extrapolations have been done on the level of individual exchanges.</xsd:documentation>
				<xsd:documentation>If data representative for a process operated in one country is used for another country's process, its original representativity can be indicated here.</xsd:documentation>
				<xsd:documentation>Changes in mean values due to extrapolations may also be reported here.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="uncertaintyAdjustments" type="TString32000" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>727</spoldID>
					<type>Text</type>
					<size>32000</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>For datasets where the additional uncertainty from lacking representativeness has been included in the quantified uncertainty values ('minValue' and 'maxValue'), thus raising the value in 'percent' of the dataset to 100%, this field also reports the original representativeness, the additional uncertainty and the procedure by which it was assessed or calculated.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="TDataGeneratorAndPublication">
		<xsd:annotation>
			<xsd:documentation>Contains information about who compiled for and entered data into the database. Furthermore contains information about kind of publication underlying the dataset and the accessibility of the dataset.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="person" type="TIndexNumber" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>751</spoldID>
					<type>Number (Integer)</type>
					<size>2</size>
					<options>Entry must be identical to an existing entry in field 5800</options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>ID number for the person that generated the dataset. It must correspond to an ID number of a person listed in the respective dataset.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="dataPublishedIn" default="0">
			<xsd:annotation>
				<xsd:documentation>Indicates whether the dataset has been published (not, partly, entirely).</xsd:documentation>
				<xsd:appinfo>
					<spoldID>756</spoldID>
					<type>Number (Byte)</type>
					<size>1</size>
					<options>0= Data as such not published elsewhere, 1= The data of some unit processes or subsystems are published, 2= Data has been published entirely in (refers to field 757) (default)</options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>The codes are: 0=Data as such not published (default). 1=The data of some unit processes or subsystems are published. 2=Data has been published entirely in 'referenceToPublishedSource'.</xsd:documentation>
				<xsd:documentation>Within the ecoinvent quality network all datasets are published in the series of ecoinvent reports.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:integer">
					<xsd:minInclusive value="0"></xsd:minInclusive>
					<xsd:maxInclusive value="2"></xsd:maxInclusive>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="referenceToPublishedSource" type="TIndexNumber" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>757</spoldID>
					<type>Number (Integer)</type>
					<size>3</size>
					<options>Reference to 801</options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>No; Yes if 756 = 2</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>ID number for the report in which the dataset is documented. It must correspond to an ID number of a source listed in the respective dataset.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="copyright" type="xsd:boolean" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>758</spoldID>
					<type>Yes/No</type>
					<size>1</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Indicates whether or not a copyright exists. '1' (Yes) or '0' (No) should be entered correspondingly.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="accessRestrictedTo" use="optional">
			<xsd:annotation>
				<xsd:documentation>Indicates possible access restrictions for the dataset. </xsd:documentation>
				<xsd:appinfo>
					<spoldID>759</spoldID>
					<type>Number (Byte)</type>
					<size>1</size>
					<options>0=Public,1=ETH Domain,2=ecoinvent 2000,3=Institute</options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>The codes used are: 0=Public. 1=ETH Domain. 2=ecoinvent 2000. 3=Institute.</xsd:documentation>
				<xsd:documentation>If access is restricted to a particular institute, 'companyCode' and 'countryCode' indicates the institute that has access to the data.</xsd:documentation>
				<xsd:documentation>accessRestrictedTo=0: all information can be accessed by everybody</xsd:documentation>
				<xsd:documentation>accessRestrictedTo=1, 2: ecoinvent clients have access to LCI results but not to unit process raw data. Members of the ecoinvent quality network (ecoinvent centre) have access to all information. </xsd:documentation>
				<xsd:documentation>accessRestrictedTo=3: The ecoinvent administrator has full access to information. Via the web only LCI results are accessible (for ecoinvent clients and for members of the ecoinvent centre. </xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:integer">
					<xsd:minInclusive value="0"></xsd:minInclusive>
					<xsd:maxInclusive value="3"></xsd:maxInclusive>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="companyCode" type="TCompanyCode" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>760</spoldID>
					<type>Text</type>
					<size>7</size>
					<options>If 759=3</options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent></valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>7 letter code with which organisations/institutes that co-operate within one of the database quality networks (see also 'qualityNetwork') are characterised and identified. 'countryCode' is required additionally.</xsd:documentation>
				<xsd:documentation>Only required and allowed if access to the dataset is restricted to a particular institute within the ecoinvent quality network.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="countryCode" type="TISOCountryCode" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>761</spoldID>
					<type>Text</type>
					<size>2</size>
					<options>If 759=3, ISO-Codes</options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent></valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>2 letter ISO-country codes are used to indicate the country where organisations/institutes are located which co-operate within one of the database quality networks (see also 'qualityNetwork').</xsd:documentation>
				<xsd:documentation>Only required and allowed if access to the dataset is restricted to a particular institute within the ecoinvent quality network.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="pageNumbers" type="TString30" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>762</spoldID>
					<type>Text</type>
					<size>30</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Indicates the page numbers in the publication where the table with the unit process raw data, and the characterisation, damage or weighting factors of the impact category, respectively are documented.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="TSource">
		<xsd:annotation>
			<xsd:documentation>Contains information about author(s), title, kind of publication, place of publication, name of editors (if any), etc..</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="number" type="TIndexNumber" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>801</spoldID>
					<type>Number (Integer)</type>
					<size>3</size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>ID number to identify the source within one dataset.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="sourceType" default="0">
			<xsd:annotation>
				<xsd:documentation>Indicates the kind of source.</xsd:documentation>
				<xsd:appinfo>
					<spoldID>802</spoldID>
					<type>Number (Byte)</type>
					<size>1</size>
					<options>0=Undefined (default)1=Article2=Chapters in anthology3=Separate publication4=Measurement on site5=Oral communication6=Personal written communication7=Questionnaries</options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>The codes are: 0=Undefined (default). 1=Article. 2=Chapters in anthology. 3=Seperate publication. 4=Measurement on site. 5=Oral communication. 6=Personal written communication. 7=Questionnaries.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:integer">
					<xsd:minInclusive value="0"></xsd:minInclusive>
					<xsd:maxInclusive value="7"></xsd:maxInclusive>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="firstAuthor" type="TString40" use="required">
			<xsd:annotation>
				<xsd:documentation>Indicates the first author by surname and abbreviated name (e.g., Einstein A.). In case of measurement on site, oral communication, personal written communication and questionnaries ('sourceType'=4, 5, 6, 7) the name of the communicating person is mentioned here.</xsd:documentation>
				<xsd:appinfo>
					<spoldID>1002</spoldID>
					<type>Text</type>
					<size>40</size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Identifies the source together with 'title' and 'year'.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="additionalAuthors" type="TString255" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>1003</spoldID>
					<type>Text</type>
					<size>255</size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>List of additional authors (surname and abbreviated name, e.g. Newton I.), separated by commas. 'Et al.' may be used, if more than five additonal authors contributed to the cited publication.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="year" type="xsd:gYear" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>1004</spoldID>
					<type>Number (Integer)</type>
					<size>4</size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Indicates the year of publication and communication, respectively.</xsd:documentation>
				<xsd:documentation>Identifies the source together with 'firstAuthor' and 'title'.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="title" type="TString32000" use="required">
			<xsd:annotation>
				<xsd:documentation>Contains the complete title of the publication.</xsd:documentation>
				<xsd:appinfo>
					<spoldID>1005</spoldID>
					<type>Text</type>
					<size>32000</size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Measurement on site: write "Measurement documentation of company XY".</xsd:documentation>
				<xsd:documentation>Oral communication: write "Oral communication, company XY".</xsd:documentation>
				<xsd:documentation>Personal written communication: write: "personal written communication, Mr./Mrs. XY, company Z".</xsd:documentation>
				<xsd:documentation>Questionnaires: write "Questionnaire, filled in by Mr./Mrs. XY, company Z".</xsd:documentation>
				<xsd:documentation>Identifies the source together with 'firstAuthor' and 'year'.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="pageNumbers" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>1006</spoldID>
					<type>Text</type>
					<size>15</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>If an article or a chapter in an anthology, list the relevant page numbers. In case of separate publications the total number of pages may be entered.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="15"></xsd:maxLength>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="nameOfEditors" type="TString40" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>1007</spoldID>
					<type>Text</type>
					<size>40</size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Contains the names of the editors (if any).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="titleOfAnthology" type="TString255" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>1008</spoldID>
					<type>Text</type>
					<size>255</size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>If the publication is a chapter in an anthology, the title of the anthology is reported here.</xsd:documentation>
				<xsd:documentation>For the reports of the ecoinvent quality network 'Final report ecoinvent 2000' is written here.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="placeOfPublications" type="TString40" use="required">
			<xsd:annotation>
				<xsd:documentation>Indicates the place(s) of publication. In case of measurements on site, oral communication, personal written communication or questionnaires, it is the location of the company which provided the information. If available via the web add the web-address.</xsd:documentation>
				<xsd:appinfo>
					<spoldID>1009</spoldID>
					<type>Text</type>
					<size>40</size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>For the ECOINVENT final reports 'EMPA Dübendorf' is written.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="publisher" type="TString40" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>1010</spoldID>
					<type>Text</type>
					<size>40</size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Lists the name of the publisher (if any).</xsd:documentation>
				<xsd:documentation>In case of the ecoinvent quality network it is the 'Swiss Centre for Life Cycle Inventories'.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="journal" type="TString40" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>1011</spoldID>
					<type>Text</type>
					<size>40</size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Indicates the name of the journal an article is published in.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="volumeNo" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>1012</spoldID>
					<type>Number (Integer)</type>
					<size>3</size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Indicates the volume of the journal an article is published in.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:integer">
					<xsd:pattern value="\d{1,3}"></xsd:pattern>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="issueNo" type="TString40" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>1013</spoldID>
					<type>String</type>
					<size>40</size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Indicates the issue number of the journal an article is published in.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="text" type="TString32000" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>803</spoldID>
					<type>Text</type>
					<size>32000</size>
					<options></options>
					<multipleOccurences>Yes</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Free text for additional description of the source. It may contain a brief summary of the publication and the kind of medium used (e.g. CD-ROM, hard copy)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="TValidation">
		<xsd:annotation>
			<xsd:documentation>Contains information about who carried out the critical review and about the main results and conclusions of the review and the recommendations made.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="proofReadingDetails" type="TString32000" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>5615</spoldID>
					<type>Text</type>
					<size>32000</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Contains the comment of the reviewer of the dataset. For the ecoinvent quality network the review text should cover the following items: 1. completeness and transparency of the documentation, 2. conformity with the ecoinvent quality guidelines, 3. plausibility of the data (unit process elementary and intermediate product flows), 4. completeness regarding elementary and intermediate product flows, 5. mathematical correctness. The review is limited to sample audits (not covering each and every figure).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="proofReadingValidator" type="TIndexNumber" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>5616</spoldID>
					<type>Number (Integer)</type>
					<size>2</size>
					<options>Reference to 5800</options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Indicates the person who carried out the review. ID number must correspond to an ID number of a person listed in the respective dataset.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="otherDetails" type="TString32000" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>5619</spoldID>
					<type>Text</type>
					<size>32000</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Contains further information from the review process, especially comments received from third parties once the dataset has been published.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="TReferenceFunction">
		<xsd:annotation>
			<xsd:documentation>Contains the identifying information of a dataset including name (english and german), unit, classification (category, subCategory), etc..</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="synonym" type="TString80">
				<xsd:annotation>
					<xsd:appinfo>
						<spoldID>491</spoldID>
						<type>Text</type>
						<size>80</size>
						<options></options>
						<multipleOccurences>Yes</multipleOccurences>
						<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
					</xsd:appinfo>
					<xsd:documentation>Synonyms for the name, localName. In the Excel editor they are separated by two slashes ('//'). </xsd:documentation>
					<xsd:documentation>Synonyms are a subset of referenceFunction. 0..n entries are allowed with a max. length of 80 each.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="datasetRelatesToProduct" type="xsd:boolean" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>400</spoldID>
					<type>Yes/No</type>
					<size>1</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Indicates whether the dataset relates to a process/service or not.</xsd:documentation>
				<xsd:documentation>In the ecoinvent quality network the value required is 'yes' for unit processes and multioutput processes and 'no' for elementary flows and impact categories.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="name" type="TString80" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>401</spoldID>
					<type>Text</type>
					<size>80</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Name of the unit process, elementary flow or impact category.</xsd:documentation>
				<xsd:documentation>For unit processes and system terminated name is used as the identifying entry together with unit, location and infrastructureProcess (yes/no). The process name is structured as follows (quality guidelines of ecoinvent 2000): 1. Name of product/service, production process or worked product, level of processing; 2. additional descriptions, separated by comma: sum formula, site of production or provenience, company, imports included or not; 3. Location in the value added chain (at plant, at regional storehouse), or destination (for wastes: to sanitary landfill, to municipal incineration) always using "at" and "to", respectively.</xsd:documentation>
				<xsd:documentation>For elementary flows name, unit, category and subCategory are used as the discriminating elements. The nomenclature of the SETAC WG 'Data quality and data availability' is used for elementary flows as far as possible.</xsd:documentation>
				<xsd:documentation>For impact categories, name, location, unit, category and subCategory are used as discriminating elements. The naming of impact categories takes pattern from the corresponding original publication.</xsd:documentation>
				<xsd:documentation>English is the default language in the ecoinvent quality network.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="localName" type="TString80" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>490</spoldID>
					<type>Text</type>
					<size>80</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>see 'name' for explanations.</xsd:documentation>
				<xsd:documentation>German is the default local language in the ecoinvent quality network.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="infrastructureProcess" type="xsd:boolean" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>493</spoldID>
					<type>Yes/No</type>
					<size>1</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Indicates whether the process is an investment or an operation process. Investment processes are for instance building of a nuclear power plant, a road, docks, construction of production machinery which deliver as the output a nuclear power plant, a km road, one seaport, and production machinery respectively. It is used as a discriminating element for the identification of processes.</xsd:documentation>
				<xsd:documentation>Not applicable for elementary flows and impact categories.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="amount" type="TFloatNumber" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>404</spoldID>
					<type>Number (Real)</type>
					<size>s.n.</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Indicates the amount of reference flow (product/service, elementary flow, impact category). </xsd:documentation>
				<xsd:documentation>Within the ecoinvent quality network the amount of the reference flow always equals 1.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="unit" type="TUnit" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>403</spoldID>
					<type>Text</type>
					<size>20</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>For unit processes (and systems terminated) it is the unit to which all inputs and outputs of the unit process are related to (functional unit).</xsd:documentation>
				<xsd:documentation>For elementary flows it is the unit in which exhanges are reported.</xsd:documentation>
				<xsd:documentation>For impact categories, it is the unit in which characterisation, damage or weighting factors are expressed.</xsd:documentation>
				<xsd:documentation>SI-units are preferred. The units are always expressed in English language.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="category" type="TCategoryName" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>495</spoldID>
					<type>Text</type>
					<size>40</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Category is used to structure the content of the database (together with SubCategory). It is not required for the identification of a process (processes in different categories/subCategories may therefore not be named identically). But it is required for the identification of elementary flows and impact categories. Categories are administrated centrally.</xsd:documentation>
				<xsd:documentation>English is the default language in the ecoinvent quality network.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="subCategory" type="TCategoryName" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>496</spoldID>
					<type>Text</type>
					<size>40</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>SubCategory is used to further structure the content of the database (together with category). It is not required for the identification of a process (processes in different categories/subCategories may therefore not be named identically). But it is required for the identification of elementary flows and impact categories. SubCategories are administrated centrally.</xsd:documentation>
				<xsd:documentation>English is the default language in the ecoinvent quality network.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="localCategory" type="TCategoryName" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>497</spoldID>
					<type>Text</type>
					<size>40</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>See category for explanations. German is the default local language in the ecoinvent quality network.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="localSubCategory" type="TCategoryName" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>498</spoldID>
					<type>Text</type>
					<size>40</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>Yes</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>See subCategory for explanations. German is the default local language in the ecoinvent quality network.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="includedProcesses" type="TString32000" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>402</spoldID>
					<type>Text</type>
					<size>32000</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Contains a description of the (sub-)processes which are combined to form one unit process (e.g., 'operation of heating system' including operation of boiler unit, regulation unit and circulation pumps). Such combination may be necessary because of lack of detailedness in available data or because of data confidentiality. As far as possible and feasible, data should however be reported on the level of detail it has been received. </xsd:documentation>
				<xsd:documentation>Not applicable for elementary flows and impact categories.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="generalComment" type="TString32000" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>492</spoldID>
					<type>Text</type>
					<size>32000</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Free text for general information about the dataset. It may contain information about:</xsd:documentation>
				<xsd:documentation>- the intended application of the dataset</xsd:documentation>
				<xsd:documentation>- information sources used</xsd:documentation>
				<xsd:documentation>- data selection principles</xsd:documentation>
				<xsd:documentation>-  modelling choices (exclusion of intermediate product flows, processes, allocation if done before entering into database).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="infrastructureIncluded" type="xsd:boolean" use="optional" default="true">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>494</spoldID>
					<type>Yes/No</type>
					<size>1</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Indicates whether the unit process imported into the database on the basis of an LCI result (received as cumulative mass- and energy-flows, hence, no LCI results will be calculated for such processes) has included infrastructure processes or not. For all other unit process raw data data sets this data field is empty.</xsd:documentation>
				<xsd:documentation>After calculation of LCI results in ecoinvent, the data field is filled in according to the fact, whether or not infrastructure has been including during the calculation.</xsd:documentation>
				<xsd:documentation>Not applicable for elementary flows and impact categories.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="CASNumber" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>502</spoldID>
					<type>String</type>
					<size>11</size>
					<options>zero fill from front</options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:appinfo>Zero fill from front.</xsd:appinfo>
				<xsd:documentation>Indicates the number according to the Chemical Abstract Service (CAS). The Format of the CAS-number: 000000-00-0, where the first string of digits needs not to be complete (i.e. less than six digits are admitted).</xsd:documentation>
				<xsd:documentation>Not applicable for impact categories.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="11"></xsd:maxLength>
					<xsd:pattern value="\d{1,6}-\d{2,2}-\d"></xsd:pattern>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="statisticalClassification" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>501</spoldID>
					<type>Number (Long)</type>
					<size>8</size>
					<options>zero fill from back</options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:appinfo>Zero fill from back.</xsd:appinfo>
				<xsd:documentation>Contains the EU-classification system (NACE code). For the first edition of the ecoinvent database this data field will not be used.</xsd:documentation>
				<xsd:documentation>Not applicable for elementary flows and impact categories.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:long">
					<xsd:pattern value="\d{1,8}"></xsd:pattern>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="formula" type="TString40" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>499</spoldID>
					<type>Text</type>
					<size>40</size>
					<options></options>
					<multipleOccurences>No</multipleOccurences>
					<valueRequiredInEcoInvent>No</valueRequiredInEcoInvent>
				</xsd:appinfo>
				<xsd:documentation>Chemical formula (e.g. sum formula) may be entered. No graphs are allowed to represent chemical formulas.</xsd:documentation>
				<xsd:documentation>Not applicable for impact categories.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>
