olca-ecospold-2/schemas/MasterData/EcoSpold02Companies.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
The contents of this file are subject to the EcoSpold Public License Version 1.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.ecoinvent.ch.
Software distributed under the License is distributed on an "AS IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for the specific language governing rights and limitations under the License.
The Original Code consists of the EcoSpold data format and EcoSpold Access.
The Original Code was created by the ecoinvent Centre, Switzerland (Swiss Centre for Life Cycle Inventories) and ifu Hamburg GmbH, Germany. Portions created by the ecoinvent Centre and ifu Hamburg GmbH are Copyright (C) ecoinvent Centre. All Rights Reserved.
-->
<?xml-stylesheet type="text/xsl" href="../../Tools/Transformations/schemadoc/EcoSpold02SchemaDocumentation.Master.xsl"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.EcoInvent.org/EcoSpold02" xmlns:es="http://www.EcoInvent.org/EcoSpold02" targetNamespace="http://www.EcoInvent.org/EcoSpold02" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="restriction" version="2.0.12">
	<xsd:include schemaLocation="../EcoSpold02DataTypes.xsd"/>
	<xsd:complexType name="TValidCompany">
		<xsd:annotation>
			<xsd:documentation>Definition of a valid company used in the ecoinvent context. </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="TString255" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo>
						<spoldID>new</spoldID>
						<fieldId>5245</fieldId>
						<uniqueTranslatedValue>1</uniqueTranslatedValue>
					</xsd:appinfo>
					<xsd:documentation>Explanatory name of the 7 letter company code.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="comment" type="TString32000" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo>
						<spoldID>new</spoldID>
						<fieldId>5250</fieldId>
					</xsd:appinfo>
					<xsd:documentation>Description of the company code.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="TUuid" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>new</spoldID>
					<fieldId>5230</fieldId>
				</xsd:appinfo>
				<xsd:documentation>Unique identifier for this company.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="code" type="TCompanyCode" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>new</spoldID>
					<fieldId>5240</fieldId>
					<unique>2</unique>
				</xsd:appinfo>
				<xsd:documentation>7 letter codes are used to identify the organisations/institutes co-operating within one of the database context (see also field 3410).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="website" type="TBaseString255" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>new</spoldID>
					<fieldId>5260</fieldId>
				</xsd:appinfo>
				<xsd:documentation>Company website.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="TValidCompanies">
		<xsd:annotation>
			<xsd:documentation>Organisations/institutes which co-operate within one of the database context (see also field 3410) are characterised and identified with a company and a country code.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="contextName" type="TString80" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo>
						<spoldID>new</spoldID>
						<fieldId>5206</fieldId>
						<redundantMasterDataField/>
					</xsd:appinfo>
					<xsd:documentation>The name of the context referenced by field 3880.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="company" type="TValidCompany" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo>
						<spoldID>new</spoldID>
						<fieldId>5210</fieldId>
					</xsd:appinfo>
					<xsd:documentation>A list of valid companies. This element provides hierarchical grouping only and contains no information on its own. See details in complex data type TValidCompany.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="originalSource" type="xsd:anyURI" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>new</spoldID>
					<fieldId>5200</fieldId>
				</xsd:appinfo>
				<xsd:documentation>Reference to the location of the original document. Can be used to verify the data and/or to check for updates in the future.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="majorRelease" type="xsd:integer" use="required">
			<xsd:annotation>
				<xsd:documentation>This version number can be used to make sure that the necessary master data entries are present for an activity. They are referenced by the valid... elements of the fileAttributes element in activity datasets. The release version number is used as follows: with a major update (e.g. every second year) the major release number is increased by one (1.00, 2.00, etc.).</xsd:documentation>
				<xsd:appinfo>
					<spoldID>new</spoldID>
					<fieldId>5201</fieldId>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="minorRelease" type="xsd:integer" use="required">
			<xsd:annotation>
				<xsd:documentation>This version number can be used to make sure that the necessary master data entries are present for an activity. They are referenced by the valid... elements of the fileAttributes element in activity datasets. The release version number is used as follows: minor updates (corrected errors) within the period of two major updates increase the minor release version.</xsd:documentation>
				<xsd:appinfo>
					<spoldID>new</spoldID>
					<fieldId>5202</fieldId>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="majorRevision" type="xsd:integer" use="optional">
			<xsd:annotation>
				<xsd:documentation>This version number can be used to make sure that the necessary master data entries are present for an activity. They are referenced by the valid... elements of the fileAttributes element in activity datasets. The revision version number is used to discern different versions during the working period until the dataset is entered into the database). The revision is generated automatically with each change made in the dataset or related file.</xsd:documentation>
				<xsd:appinfo>
					<spoldID>new</spoldID>
					<fieldId>5203</fieldId>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="minorRevision" type="xsd:integer" use="optional">
			<xsd:annotation>
				<xsd:documentation>This version number can be used to make sure that the necessary master data entries are present for an activity. They are referenced by the valid... elements of the fileAttributes element in activity datasets. The revision Version number is used to discern different versions during the working period until the dataset is entered into the database). The revision  is generated automatically with each change made in the dataset or related file.</xsd:documentation>
				<xsd:appinfo>
					<spoldID>new</spoldID>
					<fieldId>5204</fieldId>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="contextId" type="TUuid" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>new</spoldID>
					<fieldId>5205</fieldId>
					<referenceToComplexType>TValidContext</referenceToComplexType>
					<propertyNameForReference>ValidContext</propertyNameForReference>
				</xsd:appinfo>
				<xsd:documentation>Reference to the context of the master data file.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:element name="validCompanies" type="TValidCompanies"/>
</xsd:schema>
