olca-ecospold-2/schemas/MasterData/EcoSpold02IntermediateExchanges.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
The contents of this file are subject to the EcoSpold Public License Version 1.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.ecoinvent.ch.
Software distributed under the License is distributed on an "AS IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for the specific language governing rights and limitations under the License.
The Original Code consists of the EcoSpold data format and EcoSpold Access.
The Original Code was created by the ecoinvent Centre, Switzerland (Swiss Centre for Life Cycle Inventories) and ifu Hamburg GmbH, Germany. Portions created by the ecoinvent Centre and ifu Hamburg GmbH are Copyright (C) ecoinvent Centre. All Rights Reserved.
-->
<?xml-stylesheet type="text/xsl" href="../../Tools/Transformations/schemadoc/EcoSpold02SchemaDocumentation.Master.xsl"?>
<xsd:schema xmlns:es="http://www.EcoInvent.org/EcoSpold02" xmlns="http://www.EcoInvent.org/EcoSpold02" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" targetNamespace="http://www.EcoInvent.org/EcoSpold02" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0.12">
	<xsd:include schemaLocation="../EcoSpold02DataTypes.xsd"/>
	<xsd:complexType name="TValidIntermediateExchange">
		<xsd:annotation>
			<xsd:documentation>Describes a single intermediate exchange dataset (a product or waste). An exchange is solely identified by its name and there must not be two exchanges with the same name but different units.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="TString120" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo>
						<spoldID>401</spoldID>
						<fieldId>5730</fieldId>
						<uniqueTranslatedValue>1</uniqueTranslatedValue>
					</xsd:appinfo>
					<xsd:documentation>Name of the intermediate exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="unitName" type="es:TString40" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo>
						<spoldID>new</spoldID>
						<fieldId>5755</fieldId>
						<redundantMasterDataField/>
					</xsd:appinfo>
					<xsd:documentation>Name of the Unit of the intermediate exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="classification" type="TClassification" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo>
						<spoldID>new</spoldID>
						<fieldId>5740</fieldId>
					</xsd:appinfo>
					<xsd:documentation>Contains classification system/value pairs to specify the optional classification of the exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="comment" type="TString32000" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo>
						<spoldID>492</spoldID>
						<fieldId>5775</fieldId>
					</xsd:appinfo>
					<xsd:documentation>A general comment can be made about each individual exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="synonym" type="TSynonym" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo>
						<spoldID>491</spoldID>
						<fieldId>5760</fieldId>
					</xsd:appinfo>
					<xsd:documentation>List of synonyms for the name. Contrary to normal multi language strings, synonyms may contain more than one element with the same xml:lang attribute value.</xsd:documentation>
					<xsd:documentation>0..n entries are allowed with a max. length of 80 each.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="property" type="TProperty" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo>
						<spoldID>new</spoldID>
						<fieldId>5765</fieldId>
					</xsd:appinfo>
					<xsd:documentation>Structure to define flow properties of exchanges.</xsd:documentation>
					<xsd:documentation>See below for the format definition.</xsd:documentation>
					<xsd:documentation>These are default values that can be over-written by a specific entry for the same property in a specific dataset.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="TUuid" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>new</spoldID>
					<fieldId>5720</fieldId>
				</xsd:appinfo>
				<xsd:documentation>Universally unique identifier for each exchange. This is referenced by field 1515 in activity datasets.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="unitId" type="TUuid" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>3706</spoldID>
					<fieldId>5750</fieldId>
					<referenceToComplexType>TValidUnit</referenceToComplexType>
					<propertyNameForReference>ValidUnit</propertyNameForReference>
				</xsd:appinfo>
				<xsd:documentation>Reference to the unit of the amount.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="unitContextId" type="TUuid" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>new</spoldID>
					<fieldId>5751</fieldId>
					<referenceToComplexType>TValidContext</referenceToComplexType>
					<propertyNameForReference>ValidUnitContext</propertyNameForReference>
				</xsd:appinfo>
				<xsd:documentation>Reference to the context of the unit.</xsd:documentation>
				<xsd:documentation>If this attribute is omitted the context of the document itself will be used instead.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="casNumber" type="TCasNumber" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>502</spoldID>
					<fieldId>5758</fieldId>
					<options>zero fill from front</options>
				</xsd:appinfo>
				<xsd:appinfo>Zero fill from front.</xsd:appinfo>
				<xsd:documentation>Indicates the number according to the Chemical Abstract Service (CAS). The Format of the CAS-number: 000000-00-0, where the first string of digits needs not to be complete (i.e. less than six digits are admitted).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="defaultVariableName" type="TVariableName" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>new</spoldID>
					<fieldId>5770</fieldId>
				</xsd:appinfo>
				<xsd:documentation>The default variable name is a suggestion that should be used when a new exchange is added to a dataset based on this master data entry.</xsd:documentation>
				<xsd:documentation>Variable names must start with a character (a-z) and may contain characters, numbers and underscores (_). Variable names are not case sensitive (calorific_Value equals Calorific_value).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="TValidIntermediateExchanges">
		<xsd:annotation>
			<xsd:documentation>Contains a list of valid intermediate exchanges.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="contextName" type="TString80" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo>
						<spoldID>new</spoldID>
						<fieldId>5706</fieldId>
						<redundantMasterDataField/>
					</xsd:appinfo>
					<xsd:documentation>The name of the context referenced by field 3880.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="requiredContext" type="TRequiredContextReference" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo>
						<spoldID>new</spoldID>
						<fieldId>5707</fieldId>
					</xsd:appinfo>
					<xsd:documentation>Reference to context required to load this document with all its master data references intact. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="intermediateExchange" type="TValidIntermediateExchange" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo>
						<spoldID>new</spoldID>
						<fieldId>5710</fieldId>
					</xsd:appinfo>
					<xsd:documentation>A list of valid intermediate exchanges. This element provides hierarchical grouping only and contains no information on its own. For details see complex type TValidIntermediateExchange below.</xsd:documentation>
				</xsd:annotation>
				<xsd:unique name="pkClassificationSystem">
					<xsd:selector xpath="es:classification"/>
					<xsd:field xpath="es:classificationSystem"/>
				</xsd:unique>
				<xsd:unique name="pkClassificationValue">
					<xsd:selector xpath="es:classification"/>
					<xsd:field xpath="es:classificationValue"/>
				</xsd:unique>
				<xsd:unique name="pkNameLanguage">
					<xsd:selector xpath="es:name"/>
					<xsd:field xpath="@xml:lang"/>
				</xsd:unique>
			</xsd:element>
			<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="originalSource" type="xsd:anyURI" use="optional">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>new</spoldID>
					<fieldId>5700</fieldId>
				</xsd:appinfo>
				<xsd:documentation>Reference to the location of the original document. Can be used to verify the data and/or to check for updates in the future.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="majorRelease" type="xsd:integer" use="required">
			<xsd:annotation>
				<xsd:documentation>This version number can be used to make sure that the necessary master data entries are present for an activity. They are referenced by the valid... elements of the fileAttributes element in activity datasets. The release version number is used as follows: with a major update (e.g. every second year) the major release number is increased by one (1.00, 2.00, etc.).</xsd:documentation>
				<xsd:appinfo>
					<spoldID>new</spoldID>
					<fieldId>5701</fieldId>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="minorRelease" type="xsd:integer" use="required">
			<xsd:annotation>
				<xsd:documentation>This version number can be used to make sure that the necessary master data entries are present for an activity. They are referenced by the valid... elements of the fileAttributes element in activity datasets. The release version number is used as follows: minor updates (corrected errors) within the period of two major updates increase the minor release version.</xsd:documentation>
				<xsd:appinfo>
					<spoldID>new</spoldID>
					<fieldId>5702</fieldId>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="majorRevision" type="xsd:integer" use="optional">
			<xsd:annotation>
				<xsd:documentation>This version number can be used to make sure that the necessary master data entries are present for an activity. They are referenced by the valid... elements of the fileAttributes element in activity datasets. The revision version number is used to discern different versions during the working period until the dataset is entered into the database). The revision is generated automatically with each change made in the dataset or related file.</xsd:documentation>
				<xsd:appinfo>
					<spoldID>new</spoldID>
					<fieldId>5703</fieldId>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="minorRevision" type="xsd:integer" use="optional">
			<xsd:annotation>
				<xsd:documentation>This version number can be used to make sure that the necessary master data entries are present for an activity. They are referenced by the valid... elements of the fileAttributes element in activity datasets. The revision Version number is used to discern different versions during the working period until the dataset is entered into the database). The revision  is generated automatically with each change made in the dataset or related file.</xsd:documentation>
				<xsd:appinfo>
					<spoldID>new</spoldID>
					<fieldId>5704</fieldId>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="contextId" type="TUuid" use="required">
			<xsd:annotation>
				<xsd:appinfo>
					<spoldID>new</spoldID>
					<fieldId>5705</fieldId>
					<referenceToComplexType>TValidContext</referenceToComplexType>
					<propertyNameForReference>ValidContext</propertyNameForReference>
				</xsd:appinfo>
				<xsd:documentation>Reference to the context of the master data file.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:element name="validIntermediateExchanges" type="TValidIntermediateExchanges">
		<xsd:unique name="pkProductId">
			<xsd:selector xpath="intermediateExchange"/>
			<xsd:field xpath="@id"/>
		</xsd:unique>
		<xsd:unique name="pkProductName">
			<xsd:selector xpath="es:intermediateExchange/es:name"/>
			<xsd:field xpath="."/>
		</xsd:unique>
	</xsd:element>
</xsd:schema>
